{{#> wrapper}}
    <form class="modal-container" action="/register" method="post">
        <h1 class="header">Register</h1>
        {{#if error}}
            <div class="error">{{error}}</div>
        {{/if}}
        <label for="user_name">Username</label>
        <input id="user_name" type="text" name="user_name" value="{{previous.user_name}}" />
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
        <label for="password_confirm">Confirm Password</label>
        <input id="password_confirm" type="password" name="password_confirm" />
        <input type="submit" />
    </form>
{{/wrapper}}