<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css"/>
    </head>
    <body>
        <div class="ryob-wrapper">
            <div class="menu-container">
                
            </div>
            <div class="banner-container">
                {{> banner}}
            </div>
            <div class="menu-container">
                {{> menu}}
            </div>
            <div class="content-container">
                {{> @partial-block }}
            </div>
        </div>
    </body>
</html>